- filas = arr.length + 1
- columnas = arr[0].length + 1
- variable = {"mao1" => {:columna => "Suma Absoluta", :fila1 => "Nº Posiciones", :fila2 => "Nº Desacuerdos", :fila3 => "Nº Acuerdos"}, "mao3" => {:columna => "Mobilización", :fila1 => "Grado Mobilización", :fila2 => "Nº Desacuerdos", :fila3 => "Nº Acuerdos"}}
%table.ten.columns.centered
  - for i in 0...filas
    %tr
    -for j in 0...columnas
      - if ((i == 0) && (j == 0))
        %td 
      -elsif (i == 0)
        -if (j == columnas -1)
          %td #{variable[modo][:columna]}
        -else
          %td Obj#{j}
      -elsif (j==0)
        -if (i == filas - 1)
          %td #{variable[modo][:fila1]}
        -elsif (i == filas - 2 )  
          %td #{variable[modo][:fila2]}
        -elsif (i == filas - 3)
          %td #{variable[modo][:fila3]}
        -else
          %td Act#{i} 
      -else
        -if arr[i-1][j-1].nil?
          %td
        -elsif arr[i-1][j-1].is_a? Float
          %td #{arr[i-1][j-1].round(2)}
        -else
          %td #{arr[i-1][j-1]}