%h1 Results
%dl.tabs
  %dd.active
    %a{:href => "#simple1"} MIDI
  %dd
    %a{:href => "#simple2"} IFV
  %dd
    %a{:href => "#simple3"} MMIDI
  %dd
    %a{:href => "#simple4"} IFMV
  %dd
    %a{:href => "#simple5"} 1MAO
  %dd
    %a{:href => "#simple6"} 3MAO
  %dd
    %a{:href => "#simple7"} 1CAA
  %dd
    %a{:href => "#simple8"} 2CAA
  %dd
    %a{:href => "#simple9"} 3CAA
  %dd
    %a{:href => "#simple10"} 1DAA
  %dd
    %a{:href => "#simple11"} 2DAA
  %dd
    %a{:href => "#simple12"} 3DAA
  %dd
    %a{:href => "#simple13"} AMBIVALENCE
  %dd
    %a{:href => "#simple14"} BNI
%ul.tabs-content
  %li.active#simple1Tab
    .panel
      %code #{midi}        
  %li#simple2Tab
    .panel
      %code #{ifv}   
  %li#simple3Tab
    .panel
      %code #{mmidi}   
  %li#simple4Tab
    .panel
      %code FALTA   
  %li#simple5Tab
    .panel
      %code #{one_mao}   
  %li#simple6Tab
    .panel
      %code #{three_mao}   
  %li#simple7Tab
    .panel
      %code #{one_caa}   
  %li#simple8Tab
    .panel
      %code #{two_caa}   
  %li#simple9Tab
    .panel
      %code #{three_caa}   
  %li#simple10Tab
    .panel
      %code #{one_daa}   
  %li#simple11Tab
    .panel
      %code #{two_daa}   
  %li#simple12Tab
    .panel
      %code #{three_daa}   
  %li#simple13Tab
    .panel
      %code falta   
  %li#simple14Tab
    .panel
      %code falta   
:javascript
  $(document).foundationTabs();